/**
 * styles.css
 *
 * App container styles
 */

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapi.com/css?family=Roboto:400,300,500,700);

.container {
  display: block;
  margin: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e5e5e5;
}

* {
  box-sizing: border-box;
}
